<h2>Products</h2>

<a
      [routerLink]="['/batteries']"
    >
<h2>Batteries</h2>
</a>

<a
      [routerLink]="['/chair']"
    >
<h2>Chair</h2>
</a>

<a
      [routerLink]="['/bags']"
    >
<h2>Bags</h2>
</a>

<a
      [routerLink]="['/charger']"
    >
<h2>Chargers</h2>
</a>


<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      <img src="{{product.image}}" />
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description : {{ product.description }}
  </p>

  <p> 
    Likes: {{ product.like }}
  </p>
  <button cli>
    Share
  </button>

  <a href={{product.linkwp}}>
    <img
      src="https://avatars.mds.yandex.net/get-zen_doc/1874839/pub_5dd614d58a84b306db254e29_5dd61716992239515030f48e/scale_1200"
      width="50"
    />
  </a>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
